
#define APSTUDIO_READONLY_SYMBOLS
#include "windows.h"
#include "../../../Include/OVR_Version.h"
#undef APSTUDIO_READONLY_SYMBOLS

/* Windows doesn't normally display icons from DLLs. */
101 ICON "Oculus.ico"


#if !defined(OVR_JOIN)
    #define OVR_JOIN(a, b)  OVR_JOIN1(a, b)
    #define OVR_JOIN1(a, b) OVR_JOIN2(a, b)
    #define OVR_JOIN2(a, b) a##b
#endif

#define OVR_ORIGINAL_FILENAME_STRING OVR_STRINGIZE(OVR_JOIN(LibOVRRT_,OVR_MAJOR_VERSION.dll))



/////////////////////////////////////////////////////////////////////////////
// Version

VS_VERSION_INFO VERSIONINFO
 FILEVERSION OVR_MAJOR_VERSION,OVR_MINOR_VERSION,OVR_PATCH_VERSION,0     // Use 0 instead of OVR_BUILD_NUMBER, because FILEVERSION supports only 16 bit numbers.
 PRODUCTVERSION OVR_MAJOR_VERSION,OVR_MINOR_VERSION,OVR_PATCH_VERSION,0  // However, our ProductVersion string below contains full un-chopped build numbers.
 FILEFLAGSMASK 0x3fL
#if defined(DEBUG) || defined(_DEBUG)
 FILEFLAGS VS_FF_PRIVATEBUILD | VS_FF_DEBUG
#else
 FILEFLAGS VS_FF_PRIVATEBUILD
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    /* https://msdn.microsoft.com/en-us/library/windows/desktop/aa381049%28v=vs.85%29.aspx */
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Oculus VR"
            VALUE "LegalCopyright", "Copyright 2014-2016 Oculus VR, LLC All Rights reserved."
            VALUE "FileVersion", OVR_DETAILED_VERSION_STRING
            VALUE "FileDescription", OVR_FILE_DESCRIPTION_STRING
            VALUE "ProductName", "LibOVRRT"
            VALUE "InternalName", "LibOVRRT.dll"
            VALUE "OriginalFilename", OVR_ORIGINAL_FILENAME_STRING
            VALUE "ProductVersion", OVR_DETAILED_VERSION_STRING
            VALUE "PrivateBuild", ""  /* Problem: The following entries aren't visible by default to Windows users (regardless of their values) and so aren't as useful as we'd like. */
            VALUE "SpecialBuild", ""
            VALUE "Comments", ""
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/* Tracing resources */ 
LANGUAGE 0x9,0x1
1 11 "../../../../LibOVRKernel/Src/Tracing/LibOVREvents_MSG00001.bin"
1 WEVT_TEMPLATE "../../../../LibOVRKernel/Src/Tracing/LibOVREventsTEMP.BIN"
